a:link, a:visited, a:active, a:hover {
	text-decoration: none;
}
a:link {
	color: black;
}
a:visited {
	color: black;
}
a:active {
	color: green;
}
a:hover {
	color: black;
}
body {
	background-color: white;
}
#frame {
	min-height: 100%;
	width: 50em; 
	margin: 0 auto;
	background-color: #FAFAFA; 
}
#encabezado {
	display: flex;
	margin-bottom: 1em;
}
#titulo {
	display: flex;
	width: 40em;
	height: 3em;
	background-color: #E9E9E9;
	color: black;
	padding: 0.2em;
	border: 0.1em solid #E9E9E9;
}
#titulo:hover {
	color: gray;
}
#sesion {
	width: 10em;
	height: 3em;
	background-color: #E9E9E9;
	padding: 0.2em;
	border: 0.1em solid #E9E9E9;
}
#sesion table td{
	width: 10em;
	border: 0.1em solid gray;
}
#logout {
	text-align: center;
	background-color: #FAFAFA;
}
#logout:hover {
	background-color: FFA9A9;
}
#indice {
	width: 35em; 
	margin: 0 auto; 
	padding: 0.5em;
	background-color: #C3F5D6; 
	border: 0.3em solid #C3F5D6;
}
#indice table {
	margin: 0 auto;
	border-spacing: 1.2em 0;
}
#indice table td {
	height: 2.5em;
	width: 5em;
	border: 0.3em solid #86E5AB;
	text-align: center;
	background-color: #FAFAFA;
	border-radius: 1em;
}
#indice table td:hover.normal {
	background-color: #FAFAFA;
	border: 0.3em solid #FAFAFA;
}
#indice table td:hover.red  {
	background-color: #FFA9A9;
	border: 0.3em solid #FFA9A9;
}
#indice table td a {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#login {
	width: 20em;
	background-color: white;
	margin: 0 auto;
	text-align: center;
	border: 0.1em solid gray;
}
#login h2 {
	background-color: #C3F5D6;
}
#login table{
	margin: 0 auto;
	text-align: left;
	background-color: #FAFAFA;
}
#login table input{
	width:10em;
}
#login table td {
	height: 1em;
}