<html>
	<head>
		<title>psetta</title>
		<meta name="UTF-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/estilo.css') }}"/>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}"/>
		<style>{{ style }}</style>
	</head>
	<body>
		<div id="frame">
			<a href="http://psetta-flask.ga">
				<div id="titulo">Psetta Maxima</div>
			</a>
			<div id="indice">
				{% block indice %} {% endblock %}
			</div>
			<br />
			<hr />
			<br />
			<div id="contido">
				{% block content %} {% endblock %}
			</div>
		</div>
	</body>
</html>